In [8]:
import pandas as pd
from pymystem3 import Mystem
import re

### Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

если источник traffic_source равен yandex или google, то в source_type ставится organic
для источников paid и email из России - ставим ad
для источников paid и email не из России - ставим other
все остальные варианты берем из traffic_source без изменений

In [136]:
log_data= pd.read_csv('доп_материалы_к_пандас_1_и_2_1\\visit_log.csv', sep = ';')
log_data.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [144]:
def source_type_func(data):
    if data.region == 'Russia' and (data.traffic_source == 'yandex' or data.traffic_source == 'google' ):
        result ='organic'
    elif data.region == 'Russia' and (data.traffic_source == 'paid' or data.traffic_source == 'email' ):
        result = 'ad'
    elif data.region != 'Russia' and (data.traffic_source == 'paid' or data.traffic_source == 'email' ):
        result = 'other'
    
    else:
        result = data.traffic_source
    
    
    return result

In [145]:
log_data['source_type'] = log_data.apply(source_type_func,axis=1)
log_data.head(5)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

### Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

Прочитайте содержимое файла с датафрейм
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [211]:
url_data = pd.read_csv('доп_материалы_к_пандас_1_и_2_1/URLs.txt')
url_data.info()
url_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   url     93 non-null     object
dtypes: object(1)
memory usage: 872.0+ bytes

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [255]:
# тестирование шаблона

pattern = '/\d{8}-'

pattern_check = re.findall(pattern,'/politics/36188461-s-marta-zhizn-rossiyan')
print(pattern_check[0])

url_data.loc[url_data.url.str.contains(pattern_check[0])]

/36188461-

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...

In [258]:
def func (row):
    pattern = '/\d{8}-'
    pattern_check = re.findall(pattern,row.url)
    
    if pattern_check!=[]:
        #result = pattern_check[0]
        result = 1
        
    else:
        result = ''
    return result

In [259]:
url_data = pd.read_csv('доп_материалы_к_пандас_1_и_2_1/URLs.txt')
url_data['news'] = url_data.apply(func,axis=1)
url_data[url_data.news !='']

                                                  url news
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...    1
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...    1
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...    1
6   /video/36001498-poyavilis-pervye-podrobnosti-g...    1
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...    1
..                                                ...  ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...    1
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...    1
90  /science/36151301-nazvano-posledstvie-zloupotr...    1
91  /incidents/36027330-vospitatelnitsu-zatravili-...    1
92  /world/36103095-dominikanskih-zhurnalistov-ubi...    1

[84 rows x 2 columns]

In [261]:
url_data = pd.read_csv('доп_материалы_к_пандас_1_и_2_1/URLs.txt')
url_data.loc[url_data.url.str.contains('1')].head()

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
10  /middleeast/36131117-divizion-s-400-ne-zametil...

### Задание 3

In [3]:
def lemma_func(row):
    
    m = Mystem()
    lemmans = m.lemmatize(row['keyword'])
    return ' '.join(lemmans)

In [6]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [7]:
data['lemma'] = data.apply(lemma_func,axis=1)
data

                 keyword   shows                         lemma
0    курс гривны к рублю  125076  курс   гривна   к   рубль \n
1        доллары в рубли  114173         доллар   в   рубль \n
2  100 долларов в рублях   97534   100   доллар   в   рубль \n
3             курс рубля   53546               курс   рубль \n